<%- include('./templates/header') %>

<main class="container text-center pt-4">
    <h1>
        Add a book.
    </h1>
    
    <form action="/admin/newbook" method="POST">
        <input type="text" id="title" name="title" placeholder="Title" class="form-control mb-2">

        <input type="text" id="author" name="author" placeholder="Author" class="form-control mb-2">

        <input type="text" id="categories" name="categories" placeholder="Category">

        <input type="number" name="publishDate" min="1800" max="2022" id="publishDate" placeholder="Publish Date" class="mb-2">

        <input type="number" name="pages" min="1" max="2000" id="pages" placeholder="Pages" class="mb-2">

        <textarea name="description" id="description" rows="4" class="form-control mb-2" placeholder="Description"></textarea>

        <div class="d-grid">
            <button type="submit" class="btn btn-success mb-3">Add book</button>
        </div>

    </form>
    
</main>

<%- include('./templates/footer') %> 