<%- include('./templates/header') %> 

<main class="container my-5 myMain">
    <h1>Reading changes everything.</h1>
    <p>Discover what we are reading today and find your favorite today.</p>
    <button class="btn myBtn cta">Browse all our books</button>
</main>

<%- include('./templates/footer') %> 