<%- include('./templates/header') %> 

<main class="container my-5 myMain">
    <h1>This is your e-Library.</h1>
    <p>Add to the catalogue books that you love, you've read or you want to read.</p>
    <a href="../" class="btn myBtn cta">Browse books</a>
</main>

<%- include('./templates/footer') %> 